/*@font-face{
	font-family: op_regular;
	src: url("fonts/OpenSans-Regular.ttf")
}

@font-face{
	font-family: op_bold;
	src: url("fonts/OpenSans-Semibold.ttf")
}*/

html{
    background-color: #222222;
}

nav {
	position: fixed;
    z-index: 9999999999999999999999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #222222;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
}

.checkbox {
    display: none;
}

.burger_icon {
    display: none;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    margin: 0 16px;
}

.sign_container {
    flex: 2;
	margin: auto;
	text-align: center;
}

.sign_container img{
	height: 6vw;
	margin: auto;
}

.page_menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 0.3vw;
    list-style-type: none;
}

.page_menu a {
	flex: 1;
	margin: auto;
    text-decoration: none;
    font-size: 1.1em;
    font-family: op_regular, sans-serif;
    color: #F5F7FA;
}

.soc_med{
	flex: 1;
	display: flex;
	margin-top: auto;
   	margin-bottom: auto;
    list-style-type: none;
    right: -10vw;
    position:relative;
    margin-right: 0.5vw;
}

.soc_med img {
	height: 1.5vw;
	margin-top: auto;
	margin-bottom: auto;
	padding-left:1.5vw;
}

.heading{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title_container{
	margin: auto;
}

.title{
	font-family: op_regular, sans-serif;
	color: #F5F7FA;
	font-size: 3em;
}

.subtitle{
	font-size: 1.8em;
	margin-top: -2vw;
	padding-left: 20%;
	padding-right: 20%;
	font-family: op_regular, sans-serif;
	line-height: 1.8em;
    color: #CCD1D9;
}

.content{
	width: 100vw;  
	display: flex; 
	text-align: center;
}

.content_container{
	margin: auto;
	padding-bottom: 10%;
	padding-top: 10%
	display: flex;
	text-align: center;
}

.content img{
	font-family: op_regular, sans-serif;
	width: 20vw;
	margin-bottom: 3%;
}

.text{
    color: #F5F7FA;
	text-align: left;
	margin-left: 20%;
    margin-right: 20%;
    font-size: 1.2em;
    line-height: 150%;
}

.button {
	background-color: #F5F7FA;
	/*border-radius: 3vw;*/
  	border: none;
	color: #222222;
	padding: 20px;
	font-family: op_regular, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin-top: 5%;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
	font-weight: bold;
}

.footer{
	font-family: op_regular, sans-serif;
	font-size: 1em;
    color: #CCD1D9;
    text-align: center;
    margin-bottom: 2%;
}

/*STYLES FOR PROJECTS*/

.works_content {
  margin: 0.5vw;
}

.row_1, .row_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex:1;
  text-align: center;
}

.proj_1, .proj_2, .proj_3, .proj_4{
	position: relative;
	margin: 4%;
	
}
.thumbnail{
	height: 54vh;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
	display: block;
}

.image_overlay{
	position: absolute;
	top:0;
	left: 0;
	width:97%;
	height:54vh;
	background: rgba(255, 255, 255, 0.8);
	color: #434a54;
	font-family: op_regular, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition:1s;
}

.image_overlay:hover{
	opacity: 1;
}

.image_title{
	font-size: 2em;
	font-weight: bold;
}

.image_description{
	font-size: 1.5em;
	margin-top: 0.25em;
}

/*STYLES FOR ORGS*/

.org{
	padding: 5%;
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: auto;
	background: #303030;
	/*border-radius: 4vh ;*/
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
	color: #F5F7FA;
	font-family: op_regular, sans-serif;
	line-height: 1.5em;
}

.org_logo{
	height: 30vh;
	padding-top: 10%;
	flex: 1;
}

.org_info{
	flex: 2;
	display: flex;
	flex-direction: column;
}

.org_name{
	padding-top: 3%;
	flex: 1;
	width: 48vh;
	margin: auto;
	font-weight: bold;
	font-size: 1.3em;
}

.org_position{
	flex: 1;
	width: 40vh;
	margin: auto;
	font-size: 1em;
	margin-top: -1.5em;
	margin-bottom: 3%
}

/*PROJ  STYLES*/
.proj_img{
	margin: auto;
	flex: 1;
	width: 70vw;
	padding-bottom: 5%;
}

#look{
	font-size: 1.5em;
	color: white;
	margin-left: 2vw;
	margin-bottom: -0.3vw;
}

.footer_proj{
	padding-top: 5vw;
	font-size: 1em;
    color: #CCD1D9;
    text-align: center;
    margin-bottom: 2%;
}




